.personal_introduction_video{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 35%;
  padding:5%;

}
.personal_introduction_video video{
  width:80%;
  border-radius:25px;
}

:global(.video_tip){
  position: fixed;
  background: rgba(0, 0, 0, 1);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  pointer-events: none;
  display: none;
  z-index: 9999;
}
