.introduction_title p:first-child{
  font-size:40px;
  color:rgba(60,60,60,0.9);
  padding:10px;
}

.introduction_title p:nth-child(2){
  font-size:1.1rem;
  padding:10px;
}
.introduction_title p:nth-child(3){
  font-size:22px;
  color:rgba(60,60,60,1);
  padding:10px;
}