.learning_future{
  margin-top:60%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin-bottom: 50%;
}
.learning_future div{
  margin-top: 15px;
}
.learning_future a{
  text-decoration:none;
  font-size:25px;
  color: rgba(60,60,60,0.6);
}
.learning_future a:hover{
  transform: scale(1.03);
  color:rgba(60,60,60,1);
}
.learning_future span{
  font-size:18px;
}
.learning_future span:first-child{
    padding-right:10px;
}