.modelM1o1{
  margin-top:45%;
}
.modelTitle{
  display:flex;
  justify-content: space-between;
  color:rgba(60,60,60,0.9);
}
.modelTitle span{
  font-size:30px;
  padding: 10px;
}
.modelTitle a{
  text-decoration:none;
  font-size:18px;
  color:rgba(60,60,60,0.8);
  padding:15px;
}
.modelTitle a:hover{
  transform: scale(1.03);
  color:rgba(60,60,60,1);
}

.model_video{
  display:flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  padding:5%;
}
.model_video video{
  width:100%;
  border-radius:35px;
}