.personal_guide{
  position:fixed;
  border:solid 3px rgba(60,60,60,0.6);
  border-radius: 45px;
  padding:12px;
  display: flex;
  right:10%;
  bottom:12%;
  background:white;
  z-index:10;


}
.personal_guide a{
  text-decoration:none;
  color:rgba(60,60,60,0.8);
  margin-left: 20px;
  font-size:15px;
  transition: all 0.3s ease;
}

.personal_guide a:hover{
  color:rgba(60,60,60,1);
  transform: scale(1.1);
  text-shadow: 4px 4px 4px rgba(60,60,60,0.2);
}
