.research_project{
  margin-top:50%;

}
.research_project_title{
  display:flex;
  justify-content: space-between;
  color:rgba(60,60,60,0.9);
}
.research_project_title span{
  font-size:30px;
  padding: 10px;
}

.projects{
  margin-top:10%;
  padding:15px;
  display:flex;
}

.projects_content{
  width:100%;
}
.projects_title{
  padding:3px 3px;
  font-size:26px;
  color:rgba(60,60,60,1);
  margin-bottom:8%;
}
.projects_list{
  width:100%;
  display:flex;
  gap:20px;

}
.img_project_info{
  width:35%;
  padding:10px;
  margin:10px;
}

.project_img img{
  width:100%;
  height:100%;
  border-radius:999px;
}
.img_project_content{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_project_content p:first-child{
  font-size:1.3rem;
  color:rgba(60,60,60,0.8);
  margin-top:10%;
  display: flex;
  justify-content: center;
}
.img_project_content p:nth-child(2){
  font-size:0.9em;
  color:rgba(60,60,60,1);
  padding-left:3%;
  padding-right:2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img2_project_info{
  width:65%;
  padding:10px;
  margin:10px;
}
.img2_projects{
  display:flex;
}
.img2_projects_content p:first-child{
  font-size:1.3rem;
  color:rgba(60,60,60,0.8);
  padding:1%;

}
.img2_projects_content p:nth-child(2){
  font-size:0.9rem;
  color:rgba(60,60,60,1);
  padding-left:1%;
  padding-right:1%;

}
.project_img2 img{
  width:100%;
  height:100%;
  margin-top: 3%;
  border-radius:25px;
}






.research{
  margin-top:40%;
  padding:15px;
}
.research_title{
  padding:3px 3px;
  font-size:26px;
  color:rgba(60,60,60,1);
}

.all_research_img_info{
  margin-top:8%;
  display:flex;
  justify-content: space-between;
  gap:20px;
  overflow-x: auto;

  padding:5px;
}
.research_img_info{
  flex:0 0 400px;

}
.research_img{
  overflow:hidden;
  padding:15px;
}
.research_img img{
  width:100%;
  height:100%;
  border-radius:55px;

}
.research_info p{
  color:rgba(60,60,60,1);
  font-size:0.91rem;
  padding-left:3%;
  padding-right:4%;
}
